<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>LESIchat</title>
	<link rel="stylesheet" href="../public/css/chatroom.css">
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	
</head>
<body>
	<div class="cr-container">
		<h1 class="cr-title"><img class="logoLesi" src="../public/images/logoLESI.png">LESIchat</h1>
		<div class="cr-userbox">
			<img src="../public/images/profilepic.jpg" class="userPic">
			<h3 class="userName">John Doe | <a href="#">Logout</a></h3>
		</div>
		<div class="cr-newroom">
			<input type="text" class="newRoom" autocomplete="off">
			<button id="create">Create Room</button>
		</div>
		<div class="cr-roomlist">
			<ul class="roomlist">
				<a href="#"><li>IPCA</li></a>
				<a href="#"><li>EST</li></a>
				<a href="#"><li>LESI</li></a>
			</ul>
		</div>
	</div>
</body>
</html>